<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eload.dao.SystemAccountMapper" >
  <resultMap id="BaseResultMap" type="com.eload.pojo.SystemAccount" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="version" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="beginDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="endDate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="createdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="totalbalance" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="freezedamount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, version, beginDate, endDate, createdate, totalbalance, freezedamount
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eload.pojo.SystemAccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from systemaccount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from systemaccount
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from systemaccount
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.eload.pojo.SystemAccountExample" >
    delete from systemaccount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eload.pojo.SystemAccount" >
    insert into systemaccount (id, version, beginDate, 
      endDate, createdate, totalbalance, 
      freezedamount)
    values (#{id,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, #{begindate,jdbcType=TIMESTAMP}, 
      #{enddate,jdbcType=TIMESTAMP}, #{createdate,jdbcType=TIMESTAMP}, #{totalbalance,jdbcType=DECIMAL}, 
      #{freezedamount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.eload.pojo.SystemAccount" >
    insert into systemaccount
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="begindate != null" >
        beginDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="totalbalance != null" >
        totalbalance,
      </if>
      <if test="freezedamount != null" >
        freezedamount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="begindate != null" >
        #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="totalbalance != null" >
        #{totalbalance,jdbcType=DECIMAL},
      </if>
      <if test="freezedamount != null" >
        #{freezedamount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eload.pojo.SystemAccountExample" resultType="java.lang.Integer" >
    select count(*) from systemaccount
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update systemaccount
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.version != null" >
        version = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.begindate != null" >
        beginDate = #{record.begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enddate != null" >
        endDate = #{record.enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdate != null" >
        createdate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.totalbalance != null" >
        totalbalance = #{record.totalbalance,jdbcType=DECIMAL},
      </if>
      <if test="record.freezedamount != null" >
        freezedamount = #{record.freezedamount,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update systemaccount
    set id = #{record.id,jdbcType=BIGINT},
      version = #{record.version,jdbcType=INTEGER},
      beginDate = #{record.begindate,jdbcType=TIMESTAMP},
      endDate = #{record.enddate,jdbcType=TIMESTAMP},
      createdate = #{record.createdate,jdbcType=TIMESTAMP},
      totalbalance = #{record.totalbalance,jdbcType=DECIMAL},
      freezedamount = #{record.freezedamount,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eload.pojo.SystemAccount" >
    update systemaccount
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="begindate != null" >
        beginDate = #{begindate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="totalbalance != null" >
        totalbalance = #{totalbalance,jdbcType=DECIMAL},
      </if>
      <if test="freezedamount != null" >
        freezedamount = #{freezedamount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eload.pojo.SystemAccount" >
    update systemaccount
    set version = #{version,jdbcType=INTEGER},
      beginDate = #{begindate,jdbcType=TIMESTAMP},
      endDate = #{enddate,jdbcType=TIMESTAMP},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      totalbalance = #{totalbalance,jdbcType=DECIMAL},
      freezedamount = #{freezedamount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>