<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eload.dao.BidMapper" >
  <resultMap id="BaseResultMap" type="com.eload.pojo.Bid" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="actualRate" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="availableAmount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="bidrequest_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="bidUser_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="bidTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="bidRequestTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, actualRate, availableAmount, bidrequest_id, bidUser_id, bidTime, bidRequestTitle
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eload.pojo.BidExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bid
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bid
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.eload.pojo.BidExample" >
    delete from bid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eload.pojo.Bid" >
    insert into bid (id, actualRate, availableAmount, 
      bidrequest_id, bidUser_id, bidTime, 
      bidRequestTitle)
    values (#{id,jdbcType=BIGINT}, #{actualrate,jdbcType=DECIMAL}, #{availableamount,jdbcType=DECIMAL}, 
      #{bidrequestId,jdbcType=BIGINT}, #{biduserId,jdbcType=BIGINT}, #{bidtime,jdbcType=TIMESTAMP}, 
      #{bidrequesttitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.eload.pojo.Bid" >
    insert into bid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="actualrate != null" >
        actualRate,
      </if>
      <if test="availableamount != null" >
        availableAmount,
      </if>
      <if test="bidrequestId != null" >
        bidrequest_id,
      </if>
      <if test="biduserId != null" >
        bidUser_id,
      </if>
      <if test="bidtime != null" >
        bidTime,
      </if>
      <if test="bidrequesttitle != null" >
        bidRequestTitle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="actualrate != null" >
        #{actualrate,jdbcType=DECIMAL},
      </if>
      <if test="availableamount != null" >
        #{availableamount,jdbcType=DECIMAL},
      </if>
      <if test="bidrequestId != null" >
        #{bidrequestId,jdbcType=BIGINT},
      </if>
      <if test="biduserId != null" >
        #{biduserId,jdbcType=BIGINT},
      </if>
      <if test="bidtime != null" >
        #{bidtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidrequesttitle != null" >
        #{bidrequesttitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eload.pojo.BidExample" resultType="java.lang.Integer" >
    select count(*) from bid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bid
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.actualrate != null" >
        actualRate = #{record.actualrate,jdbcType=DECIMAL},
      </if>
      <if test="record.availableamount != null" >
        availableAmount = #{record.availableamount,jdbcType=DECIMAL},
      </if>
      <if test="record.bidrequestId != null" >
        bidrequest_id = #{record.bidrequestId,jdbcType=BIGINT},
      </if>
      <if test="record.biduserId != null" >
        bidUser_id = #{record.biduserId,jdbcType=BIGINT},
      </if>
      <if test="record.bidtime != null" >
        bidTime = #{record.bidtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bidrequesttitle != null" >
        bidRequestTitle = #{record.bidrequesttitle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bid
    set id = #{record.id,jdbcType=BIGINT},
      actualRate = #{record.actualrate,jdbcType=DECIMAL},
      availableAmount = #{record.availableamount,jdbcType=DECIMAL},
      bidrequest_id = #{record.bidrequestId,jdbcType=BIGINT},
      bidUser_id = #{record.biduserId,jdbcType=BIGINT},
      bidTime = #{record.bidtime,jdbcType=TIMESTAMP},
      bidRequestTitle = #{record.bidrequesttitle,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eload.pojo.Bid" >
    update bid
    <set >
      <if test="actualrate != null" >
        actualRate = #{actualrate,jdbcType=DECIMAL},
      </if>
      <if test="availableamount != null" >
        availableAmount = #{availableamount,jdbcType=DECIMAL},
      </if>
      <if test="bidrequestId != null" >
        bidrequest_id = #{bidrequestId,jdbcType=BIGINT},
      </if>
      <if test="biduserId != null" >
        bidUser_id = #{biduserId,jdbcType=BIGINT},
      </if>
      <if test="bidtime != null" >
        bidTime = #{bidtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bidrequesttitle != null" >
        bidRequestTitle = #{bidrequesttitle,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eload.pojo.Bid" >
    update bid
    set actualRate = #{actualrate,jdbcType=DECIMAL},
      availableAmount = #{availableamount,jdbcType=DECIMAL},
      bidrequest_id = #{bidrequestId,jdbcType=BIGINT},
      bidUser_id = #{biduserId,jdbcType=BIGINT},
      bidTime = #{bidtime,jdbcType=TIMESTAMP},
      bidRequestTitle = #{bidrequesttitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>