<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eload.dao.IpLogMapper" >
  <resultMap id="BaseResultMap" type="com.eload.pojo.IpLog" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="loginState" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="loginInfoId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="loginType" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="loginTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ip, loginState, username, loginInfoId, loginType, loginTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eload.pojo.IpLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from iplog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from iplog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from iplog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.eload.pojo.IpLogExample" >
    delete from iplog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eload.pojo.IpLog" >
    insert into iplog (id, ip, loginState, 
      username, loginInfoId, loginType, 
      loginTime)
    values (#{id,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{loginstate,jdbcType=TINYINT}, 
      #{username,jdbcType=VARCHAR}, #{logininfoid,jdbcType=BIGINT}, #{logintype,jdbcType=TINYINT}, 
      #{logintime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.eload.pojo.IpLog" >
    insert into iplog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="loginstate != null" >
        loginState,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="logininfoid != null" >
        loginInfoId,
      </if>
      <if test="logintype != null" >
        loginType,
      </if>
      <if test="logintime != null" >
        loginTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="loginstate != null" >
        #{loginstate,jdbcType=TINYINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="logininfoid != null" >
        #{logininfoid,jdbcType=BIGINT},
      </if>
      <if test="logintype != null" >
        #{logintype,jdbcType=TINYINT},
      </if>
      <if test="logintime != null" >
        #{logintime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eload.pojo.IpLogExample" resultType="java.lang.Integer" >
    select count(*) from iplog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update iplog
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.loginstate != null" >
        loginState = #{record.loginstate,jdbcType=TINYINT},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.logininfoid != null" >
        loginInfoId = #{record.logininfoid,jdbcType=BIGINT},
      </if>
      <if test="record.logintype != null" >
        loginType = #{record.logintype,jdbcType=TINYINT},
      </if>
      <if test="record.logintime != null" >
        loginTime = #{record.logintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update iplog
    set id = #{record.id,jdbcType=BIGINT},
      ip = #{record.ip,jdbcType=VARCHAR},
      loginState = #{record.loginstate,jdbcType=TINYINT},
      username = #{record.username,jdbcType=VARCHAR},
      loginInfoId = #{record.logininfoid,jdbcType=BIGINT},
      loginType = #{record.logintype,jdbcType=TINYINT},
      loginTime = #{record.logintime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eload.pojo.IpLog" >
    update iplog
    <set >
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="loginstate != null" >
        loginState = #{loginstate,jdbcType=TINYINT},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="logininfoid != null" >
        loginInfoId = #{logininfoid,jdbcType=BIGINT},
      </if>
      <if test="logintype != null" >
        loginType = #{logintype,jdbcType=TINYINT},
      </if>
      <if test="logintime != null" >
        loginTime = #{logintime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eload.pojo.IpLog" >
    update iplog
    set ip = #{ip,jdbcType=VARCHAR},
      loginState = #{loginstate,jdbcType=TINYINT},
      username = #{username,jdbcType=VARCHAR},
      loginInfoId = #{logininfoid,jdbcType=BIGINT},
      loginType = #{logintype,jdbcType=TINYINT},
      loginTime = #{logintime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="queryIplog">
    <where>
      <if test="loginInfoId!=null">
        and loginInfoId = #{loginInfoId}
      </if>
      <if test="state!=-1">
        and loginState = #{state}
      </if>
      <if test="beginDate!=null">
        AND loginTime &gt;= #{beginDate}
      </if>
      <if test="endDate!=null">
        AND loginTime &lt;= #{endDate}
      </if>
    </where>
  </sql>

  <sql id="base_column">
    id, ip, loginState, username, loginTime
  </sql>

  <resultMap id="BaseResultMap1" type="com.eload.pojo.IpLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="loginState" property="loginstate" jdbcType="TINYINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="loginTime" property="logintime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryCount" parameterType="com.eload.query.IplogQueryObject" resultType="java.lang.Integer">
    select count(1) from iplog
    <include refid="queryIplog"/>
  </select>


  <select id="queryByPage" parameterType="com.eload.query.IplogQueryObject" resultMap="BaseResultMap1">
    SELECT <include refid="base_column"/>
    FROM iplog
    <include refid="queryIplog"/>
    ORDER BY loginTime DESC
    LIMIT #{start},#{pageSize}
  </select>

</mapper>