<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eload.dao.RechargeOfflineMapper" >
  <resultMap id="BaseResultMap" type="com.eload.pojo.RechargeOffline" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="state" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="auditTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="applyTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="auditor_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="applier_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="tradeCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tradeTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="note" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="bankinfo_id" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, state, remark, auditTime, applyTime, auditor_id, applier_id, tradeCode, tradeTime, 
    amount, note, bankinfo_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eload.pojo.RechargeOfflineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rechargeoffline
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rechargeoffline
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rechargeoffline
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.eload.pojo.RechargeOfflineExample" >
    delete from rechargeoffline
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eload.pojo.RechargeOffline" >
    insert into rechargeoffline (id, state, remark, 
      auditTime, applyTime, auditor_id, 
      applier_id, tradeCode, tradeTime, 
      amount, note, bankinfo_id
      )
    values (#{id,jdbcType=BIGINT}, #{state,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{audittime,jdbcType=TIMESTAMP}, #{applytime,jdbcType=TIMESTAMP}, #{auditorId,jdbcType=BIGINT}, 
      #{applierId,jdbcType=BIGINT}, #{tradecode,jdbcType=VARCHAR}, #{tradetime,jdbcType=TIMESTAMP}, 
      #{amount,jdbcType=DECIMAL}, #{note,jdbcType=VARCHAR}, #{bankinfoId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eload.pojo.RechargeOffline" >
    insert into rechargeoffline
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="audittime != null" >
        auditTime,
      </if>
      <if test="applytime != null" >
        applyTime,
      </if>
      <if test="auditorId != null" >
        auditor_id,
      </if>
      <if test="applierId != null" >
        applier_id,
      </if>
      <if test="tradecode != null" >
        tradeCode,
      </if>
      <if test="tradetime != null" >
        tradeTime,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="bankinfoId != null" >
        bankinfo_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null" >
        #{audittime,jdbcType=TIMESTAMP},
      </if>
      <if test="applytime != null" >
        #{applytime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditorId != null" >
        #{auditorId,jdbcType=BIGINT},
      </if>
      <if test="applierId != null" >
        #{applierId,jdbcType=BIGINT},
      </if>
      <if test="tradecode != null" >
        #{tradecode,jdbcType=VARCHAR},
      </if>
      <if test="tradetime != null" >
        #{tradetime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="bankinfoId != null" >
        #{bankinfoId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eload.pojo.RechargeOfflineExample" resultType="java.lang.Integer" >
    select count(*) from rechargeoffline
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rechargeoffline
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.audittime != null" >
        auditTime = #{record.audittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applytime != null" >
        applyTime = #{record.applytime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditorId != null" >
        auditor_id = #{record.auditorId,jdbcType=BIGINT},
      </if>
      <if test="record.applierId != null" >
        applier_id = #{record.applierId,jdbcType=BIGINT},
      </if>
      <if test="record.tradecode != null" >
        tradeCode = #{record.tradecode,jdbcType=VARCHAR},
      </if>
      <if test="record.tradetime != null" >
        tradeTime = #{record.tradetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=DECIMAL},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.bankinfoId != null" >
        bankinfo_id = #{record.bankinfoId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rechargeoffline
    set id = #{record.id,jdbcType=BIGINT},
      state = #{record.state,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      auditTime = #{record.audittime,jdbcType=TIMESTAMP},
      applyTime = #{record.applytime,jdbcType=TIMESTAMP},
      auditor_id = #{record.auditorId,jdbcType=BIGINT},
      applier_id = #{record.applierId,jdbcType=BIGINT},
      tradeCode = #{record.tradecode,jdbcType=VARCHAR},
      tradeTime = #{record.tradetime,jdbcType=TIMESTAMP},
      amount = #{record.amount,jdbcType=DECIMAL},
      note = #{record.note,jdbcType=VARCHAR},
      bankinfo_id = #{record.bankinfoId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eload.pojo.RechargeOffline" >
    update rechargeoffline
    <set >
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="audittime != null" >
        auditTime = #{audittime,jdbcType=TIMESTAMP},
      </if>
      <if test="applytime != null" >
        applyTime = #{applytime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditorId != null" >
        auditor_id = #{auditorId,jdbcType=BIGINT},
      </if>
      <if test="applierId != null" >
        applier_id = #{applierId,jdbcType=BIGINT},
      </if>
      <if test="tradecode != null" >
        tradeCode = #{tradecode,jdbcType=VARCHAR},
      </if>
      <if test="tradetime != null" >
        tradeTime = #{tradetime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="bankinfoId != null" >
        bankinfo_id = #{bankinfoId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eload.pojo.RechargeOffline" >
    update rechargeoffline
    set state = #{state,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      auditTime = #{audittime,jdbcType=TIMESTAMP},
      applyTime = #{applytime,jdbcType=TIMESTAMP},
      auditor_id = #{auditorId,jdbcType=BIGINT},
      applier_id = #{applierId,jdbcType=BIGINT},
      tradeCode = #{tradecode,jdbcType=VARCHAR},
      tradeTime = #{tradetime,jdbcType=TIMESTAMP},
      amount = #{amount,jdbcType=DECIMAL},
      note = #{note,jdbcType=VARCHAR},
      bankinfo_id = #{bankinfoId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>